# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.fdb_latexmk
*.synctex.gz
*.run.xml

# Backup files
*.bak
*.sav
*.backup

# Editor-specific files
*~ 
*.swp
*.swo
*.tmp

# minted files
tex/_minted/

# Jupyter Notebook files
.ipynb_checkpoints/

# Virtual environment directories
venv/
.env/
*.venv/
xai/
# .DS_Store files
.DS_Store
data