matplotlib
numpy
pandas
scikit-learn
tensorflow
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
seaborn
jupyter
notebook
xgboost
shap
lime
quantus
ipykernel
torchcam
tf-keras
transformers